<div data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  <div style="width: 100%; height: 400px;" data-map-target="smallMap"></div>

  <!-- Button trigger modal -->
  <button type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          data-action="click->map#passPositionToModalMap">
    Launch demo modal
  </button>

  <!-- Modal -->
  <div class="modal fade"
        data-action="change->map#switchToModalMap"
        data-action="hide.bs.modal->map#switchToSmallMap"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div style="width: 100%; height: 600px;"
          data-map-target="modalMap"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>
